#Aboutme {
    /* background-color: #232833; */
    background-color: #0e0d0b;
    padding-top: 160px;
}

.aboutme-body {
    /* background-color: #232833; */
    background-color: #0e0d0b;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 4rem;
}

.profile-picture {
    width: 400px;
}

.about-title {
    /* color: aliceblue; */
    color: #efeeeb;
    font-size: 4.5rem;
    word-wrap: break-word;
}

.gradient-title {
    background: linear-gradient(120deg, #8ef1df, #0a4ac2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text {
    /* color: #a9aeb8; */
    color: #efeeeb;
    padding-top: 10px;
    font-size: 1.2rem;
    word-wrap: break-word;
}

@media only screen and (max-width: 700px) {
    .aboutme-body {
        background-color: #232833;
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 4rem;
    }
    .about-title {
        color: aliceblue;
        font-size: 3.5rem;
        word-wrap: break-word;
    }
    .about-text {
        color: #a9aeb8;
        padding-top: 10px;
        font-size: 1.2rem;
        word-wrap: break-word;
    }
    .profile-picture {
        width: 300px;
    }
}

/* #Aboutme {
    padding-top: 10rem;
    background-color: #232833;
}

#aboutMeTitle {
    color: aliceblue;
    font-size: 4.5rem;
    float: left;
}

#aboutMeText {
    color: #a9aeb8;
    padding-top: 10px;
    font-size: 1.3rem;
    width: 80%;
    float: left;
}

.profilePicture {
    width: 50%;
    float: right;
}

@media only screen and (max-width: 700px) {
    #aboutmeBackground {
        padding-top: 60px;
        background-color: #232833;
    }

    #aboutMeTitle {
        margin-top: 0px;
        color: aliceblue;
        padding-top: 0px;
    }
    
    #aboutMeText {
        color: #a9aeb8;
        padding-top: 0px;
    }

    .profilePicture {
        float: right;
    }
  } */