#aboutmeBackground {
    padding-top: 160px;
    background-color: #232833;
}

#aboutMeTitle {
    /* margin-top: 100px; */
    color: aliceblue;
    /* padding-top: 50px; */
    font-size: 4vw;
    float: left;
}

#aboutMeText {
    color: #a9aeb8;
    padding-top: 10px;
    font-size: 1.3vw;
    width: 80%;
    float: left;
}

.profilePicture {
    display: flex;
    align-content: flex-end;
    width: 50%;
    padding-top: 50px;
    float: right;
}

@media only screen and (max-width: 700px) {
    #aboutmeBackground {
        padding-top: 60px;
        background-color: #232833;
    }

    #aboutMeTitle {
        margin-top: 0px;
        color: aliceblue;
        padding-top: 0px;
        /* font-size: 15px; */
    }
    
    #aboutMeText {
        color: #a9aeb8;
        padding-top: 0px;
        /* font-size: 10px; */
        /* width: 100%; */
    }

    .profilePicture {
        /* width: 100%; */
        /* padding-top: 70px; */
        float: right;
    }
  }