#Aboutme {
    background-color: #232833;
    padding-top: 160px;
}

.aboutme-body {
    background-color: #232833;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 4rem;
}

.profile-picture {
    width: 400px;
}

.about-title {
    color: aliceblue;
    font-size: 4.5rem;
}

.about-text {
    color: #a9aeb8;
    padding-top: 10px;
    font-size: 1.2rem;
}

/* #Aboutme {
    padding-top: 10rem;
    background-color: #232833;
}

#aboutMeTitle {
    color: aliceblue;
    font-size: 4.5rem;
    float: left;
}

#aboutMeText {
    color: #a9aeb8;
    padding-top: 10px;
    font-size: 1.3rem;
    width: 80%;
    float: left;
}

.profilePicture {
    width: 50%;
    float: right;
}

@media only screen and (max-width: 700px) {
    #aboutmeBackground {
        padding-top: 60px;
        background-color: #232833;
    }

    #aboutMeTitle {
        margin-top: 0px;
        color: aliceblue;
        padding-top: 0px;
    }
    
    #aboutMeText {
        color: #a9aeb8;
        padding-top: 0px;
    }

    .profilePicture {
        float: right;
    }
  } */