.Contact-title {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 5rem;
}

.backgroundColorContact {
    /* background-color: #191e29; */
    background-color: #0e0d0b;
    padding-bottom: 4rem;
}

#contactInfoForm {
    padding-top: 2rem;
    /* background-color: #191e29; */
    background-color: #0e0d0b;
    display: block;
    justify-content: center;
    margin: auto;
    width: 55%;
}

.form-label {
    /* color: aliceblue; */
    color: #efeeeb;
    font-size: 20px;
    display: block;
    margin: auto;
}

#submitButton {
    /* color: aliceblue; */
    /* color: #efeeeb; */
    color: #100f0c;
    font-size: 20px;
    display: block;
    margin: auto;
}

.form-button:hover {
    transition: ease-in-out;
    transition: 0.3s;
    transform: translateY(-10px);
}

.form-button {
    background-color: #8ef1df;
    border: 3px solid #8ef1df;
    padding: 0.5em 1em;
    border-radius: 25px;
    display: inline-block;
    font-size: 20px;
    z-index: 2;
    color: #100f0c;
}