#backgroundFooter {
    background-color: #364052;
    display: flex;
}

a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerImage {
    width: 15%;
    margin: 1rem 0;
    justify-content: flex-end;
}