.skills-background {
    background-color: #191e29;
    padding-top: 10rem;
}

#skillsbackgroundcolor {
    background-color: #191e29;
    margin: 0 auto;
    width: 80%;
}

.Skills {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
}

.skills-card {
    background-color: #3a4253;
}

.skills-title {
    text-align: center;
    font-weight: 600;
    color: aliceblue;
}

.languages-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;

}

.applications-skills {
    font-size: 25px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    color: #a9aeb8;
}

/* .title1 {
    padding-top: 4vh;
    color: aliceblue;
    font-size: 4vw;
    text-align: center;
}

.text1 {
    color: #a9aeb8;
    padding-top: 5px;
    font-size: 1vw;
    display: block;
    margin: auto;
}

#skillsHighLight {
    color: aliceblue;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.listbox {
    background-color: #3a4253;
    height: 24vw;
    margin-left: 10px;
    margin-right: 10px;
}

.listItems {
    padding-top: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 700px) {
    .title1 {
        color: aliceblue;
        text-align: center;
    }
    
    .text1 {
        color: #a9aeb8;
        padding-top: 0px;
        font-size: 1.5vw;
        display: block;
        margin: auto;
    }

    #skillsHighLight {
        color: aliceblue;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .listbox {
        background-color: #3a4253;
        height: 30vw;
    }

    .listItems {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  } */