.skills-background {
    /* background-color: #191e29; */
    background-color: #0e0d0b;
    padding-top: 5rem;
}

#skillsbackgroundcolor {
    /* background-color: #191e29; */
    background-color: #0e0d0b;
    margin: 0 auto;
    width: 60%;
}

.Skills {
    padding: 1rem 2rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.skills-card {
    /* background-color: #3a4253; */
    background-color: #ffffff;
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    flex-basis: 30rem;
}

.skills-title {
    text-align: center;
    font-weight: 600;
    /* color: aliceblue; */
    color: #100f0c;
}

.languages-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
}

.applications-skills {
    padding-left: 0;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    /* color: #a9aeb8; */
    color: #100f0c;
}

@media only screen and (max-width: 700px) {
    .Skills {
        padding: 0rem 0rem;
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .skills-card {
        /* background-color: #3a4253; */
        background-color: #ffffff;
        font-size: 15px;
        padding: 15px;
        border-radius: 15px;
        flex-basis: 0;
    }
}

/* .title1 {
    padding-top: 4vh;
    color: aliceblue;
    font-size: 4vw;
    text-align: center;
}

.text1 {
    color: #a9aeb8;
    padding-top: 5px;
    font-size: 1vw;
    display: block;
    margin: auto;
}

#skillsHighLight {
    color: aliceblue;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.listbox {
    background-color: #3a4253;
    height: 24vw;
    margin-left: 10px;
    margin-right: 10px;
}

.listItems {
    padding-top: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 700px) {
    .title1 {
        color: aliceblue;
        text-align: center;
    }
    
    .text1 {
        color: #a9aeb8;
        padding-top: 0px;
        font-size: 1.5vw;
        display: block;
        margin: auto;
    }

    #skillsHighLight {
        color: aliceblue;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .listbox {
        background-color: #3a4253;
        height: 30vw;
    }

    .listItems {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  } */