.backgroundcolor-work {
    background-color: #191e29;
}

#workbackground {
    background-color: #191e29;
    margin: 0 auto;
    width: 80%;
}

.title {
    margin-top: 100px;
    color: aliceblue;
    font-size: 4.5rem;
    text-align: center;
}

.sub-title {
    color: aliceblue;
    font-weight: 600;
}

.text {
    color: #a9aeb8;
    font-size: 1.3rem;
    text-align: center;
    display: block;
    justify-content: center;
}

.project-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 4rem;
}

.projects {
    padding: 5px;
    background-color: #191e29;
    text-align: center;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.projects:hover {
    box-shadow: 0 0 5px white, inset 0 0 10px white;
    background-color: #3a4253
}

.project-image-background {
    width: 100%;
    height: auto;
}

.project-items:hover {
    opacity: 100;
}

.project-github {
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.project-website {
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 700px) {
    .project-holder {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 4rem;
    }
}