.backgroundcolor-work {
    background-color: #191e29;
}

#workbackground {
    background-color: #191e29;
    margin: 0 auto;
    width: 80%;
}

.title {
    margin-top: 100px;
    color: aliceblue;
    font-size: 4.5rem;
    text-align: center;
}

.sub-title {
    color: aliceblue;
    font-weight: 600;
}

.text {
    color: #a9aeb8;
    font-size: 1.3rem;
    text-align: center;
    display: block;
    justify-content: center;
}

.project-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 4rem;
}

.projects {
    padding: 5px;
    background-color: #191e29;
    text-align: center;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.projects:hover {
    box-shadow: 0 0 5px white, inset 0 0 10px white;
    background-color: #3a4253
}

.project-image-background {
    width: 100%;
    height: auto
}

.project-items:hover {
    opacity: 100;
}

.project-github {
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.project-website {
    width: 15%;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* 
#workHighLight {
    font-weight: bold;
    color: aliceblue;
}

#images {
    width: 50%;
    justify-content: center;
    margin: auto;
    display: block;
}

#githubimage {
    width: 10%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#websiteimage {
    width: 10%;
    position: absolute;
    bottom: 100px;
    right: 0px;
}

.workbox {
    position: relative;
    padding-top: 50px;
    margin-bottom: 50px;
    height: 60vh;
    box-shadow:none;
    background-color: #191e29;
}

.workbox:hover {
    box-shadow: 0 0 5px white, inset 0 0 10px white;
    background-color: #3a4253
}

@media only screen and (max-width: 1000px) {
    .title {
        margin-top: 50px;
        color: aliceblue;
        text-align: center;
    }
    
    .text {
        color: #a9aeb8;
        padding-top: 0px;
        text-align: center;
    }

    .workbox {
        padding-top: 25px;
        margin-bottom: 25px;
        height: 30vh;
        box-shadow:none;
        background-color: #191e29
    }

    .workbox:hover {
        box-shadow: 0 0 5px white, inset 0 0 10px white;
        background-color: #3a4253
    }
    
    #websiteimage {
        width: 10%;
        position: absolute;
        bottom: 50px;
        right: 0px;
    }
  }

  @media only screen and (max-width: 700px) {
    .title {
        margin-top: 25px;
        color: aliceblue;
        text-align: center;
    }
    
    .text {
        color: #a9aeb8;
        padding-top: 0px;
        text-align: center;
    }

    .workbox {
        margin-bottom: 10px;
        height: 25vh;
        box-shadow:none;
        background-color: #191e29
    }

    .workbox:hover {
        box-shadow: 0 0 5px white, inset 0 0 10px white;
        background-color: #3a4253
    }
    
    #websiteimage {
        width: 10%;
        position: absolute;
        bottom: 30px;
        right: 0px;
    }
  }

  @media only screen and (max-width: 570px) {
    .title {
        margin-top: 15px;
        color: aliceblue;
        text-align: center;
    }
    .workbox {
        padding-top: 10px;
        margin-bottom: 10px;
        height: 20vh;
        box-shadow:none;
        background-color: #191e29
    }

    .workbox:hover {
        box-shadow: 0 0 5px white, inset 0 0 10px white;
        background-color: #3a4253
    }
    
    #websiteimage {
        width: 10%;
        position: absolute;
        bottom: 30px;
        right: 0px;
    }
  }

  @media only screen and (max-width: 420px) {
    .workbox {
        padding-top: 10px;
        margin-bottom: 10px;
        height: 15vh;
        box-shadow:none;
        background-color: #191e29
    }

    .workbox:hover {
        box-shadow: 0 0 5px white, inset 0 0 10px white;
        background-color: #3a4253
    }
    
    #websiteimage {
        width: 10%;
        position: absolute;
        bottom: 30px;
        right: 0px;
    }
  } */