.NavTab {
    position: fixed;
    padding-top: 15px;
    background-color: #364052;
    width: 100%;
    z-index: 1000
}

.NavItem {
    color: #a9aeb8;
    display: inline-block;
    padding-right: 50px;
    font-size: 25px;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
  }

#line {
    border-left: 6px solid #626772;
    border-width: thin;
}

#hiddentext {
    color: #364052;
}

#Me {
    color: aliceblue;
    padding-right: 50px;
    font-weight: 600;
}

@media only screen and (max-width: 850px) {
    .NavTab {
        position: fixed;
        background-color: #364052;
        width: 100%;
    }
    
    .NavItem {
        color: #a9aeb8;
        display: inline-block;
        padding-right: 10px;
        font-size: 15px;
    }

    #line {
        border-left: 6px solid #626772;
        border-width: thin;
    }

    #Me {
        color: aliceblue;
        padding-right: 15px;
        font-weight: 600;
    }
  }

  @media only screen and (max-width: 384px) {
    .NavTab {
        position: fixed;
        background-color: #364052;
        width: 100%;
    }
    
    .NavItem {
        color: #a9aeb8;
        display: inline-block;
        padding-right: 10px;
        font-size: 10px;
    }

    #line {
        border-left: 6px solid #626772;
        border-width: thin;
    }

    #Me {
        color: aliceblue;
        padding-right: 10px;
        font-weight: 600;
    }
  }