.NavTab {
    position: fixed;
    padding-top: 15px;
    /* background-color: #364052; */
    background-color: #0e0d0b;
    width: 100%;
    z-index: 1000;
}

.NavTab ul {
    display: flex;
   list-style: none; 
}

.NavItem {
    /* color: #a9aeb8; */
    color: #efeeeb;
    display: inline-block;
    margin-right: 50px;
    font-size: 1.4rem;
}

.NavItem:hover {
    /* color: #FFA500; */
    color: #efeeeb;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

a.active {
    /* color: #FFA500; */
    color: #efeeeb;
}

#line {
    border-left: 6px solid #626772;
    border-width: thin;
}

#hiddentext {
    visibility: hidden;
}

#Me {
    /* color: aliceblue; */
    color: #8ef1df;
    font-weight: 600;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #a9aeb8;
}

@media(max-width:950px) {
    .hamburger{
        display: block;
        padding-right: 10px;
    }

    /* This changes the hamburger to an X */
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #Navline {
        display: none;
        cursor: pointer;
    }

    .hamburger-item {
        display: block;
    }

    .hamburger-menu {
        display: none;
        cursor: pointer;
    }

    .hamburger-menu.active {
        display: block;
    }
}